{% extends "adminpanel.html" %}

{% block amenu %}
<p class="menu-label">
  General
</p>
<ul class="menu-list">
  <li><a href="/admin">Overview</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>
<p class="menu-label">
  Website Settings
</p>
<ul class="menu-list">
  <li><a class="is-active">Change Site Name</a></li>
  <li><a href="/admin/ucreated">Dis/Allow User Created Topics</a></li>
  <li><a href="/admin/news">Change News Blurb</a></li>
  <li><a href="/admin/password">Change Admin Password</a></li>
</ul>
<p class="menu-label">
  Topics
</p>
<ul class="menu-list">
  <li><a href="/admin/bantopic">Ban Topic</a></li>
</ul>
<p class="menu-label">
  Users
</p>
<ul class="menu-list">
  <li><a href="/admin/reports">Reports</a></li>
</ul>
{% endblock %}

{% block acontent %}
<form action="/admin/sitechange" method="POST" enctype="multipart/form-data">
    <div class="field is-grouped">
        <div class="control">
            <input class="input is-danger" type="text" value="{{sitename}}" minlength=1 maxlength=50 required name="newsitename">
        </div>
        {{csrf|safe}}   
        <div class="control">
            <button type="submit" class="button is-danger">↻ Change Website Name</button>
        </div>
    </div>
</form>
{% endblock %}