{% extends "adminpanel.html" %}

{% block amenu %}
<p class="menu-label">
  General
</p>
<ul class="menu-list">
  <li><a href="/admin">Overview</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>
<p class="menu-label">
  Website Settings
</p>
<ul class="menu-list">
  <li><a href="/admin/sitename">Change Site Name</a></li>
  <li><a href="/admin/ucreated">Dis/Allow User Created Topics</a></li>
  <li><a href="/admin/news">Change News Blurb</a></li>
  <li><a class="is-active">Change Admin Password</a></li>
</ul>
<p class="menu-label">
  Topics
</p>
<ul class="menu-list">
  <li><a href="/admin/bantopic">Ban Topic</a></li>
</ul>
<p class="menu-label">
  Users
</p>
<ul class="menu-list">
  <li><a href="/admin/reports">Reports</a></li>
</ul>
{% endblock %}

{% block acontent %}
<form action="/admin/passwordchange" method="POST" enctype="multipart/form-data">
  <p class="has-text-danger">Set an updated site admin password here</p>
  <div class="field">
    <div class="control">
      <input class="input is-danger" type="password" placeholder="new password for site" name="newadminpassword">
    </div>
  </div>
    {{csrf|safe}}   
    <div class="field">
      <div class="control">
          <button type="submit" class="button is-danger">↻ Update Admin Password</button>
      </div>
    </div>
</form>
{% endblock %}