{% extends "base.html" %}
{% block title %}Help{% endblock %}
{% block content %}
{% include "navbar.html" %}
<section class="section">
        <div class="notification is-dark">
          <h4 class="title">
            {{sitename}} Help
          </h4>
        <div class="content">
              <ul>
                  <br><li>
                  <h3 class="has-text-weight-bold has-text-danger">What is {{sitename}}?</h3>
                  <p>{{sitename}} is an <a href="https://en.wikipedia.org/wiki/Imageboard" target="_blank">imageboard</a>, a type of Internet forum 
                    that revolves around the posting of images, often alongside related text and discussion. Unlike traditional forums 
                  and social media, imageboards do not require user registration, and users are anonymous by default.</p>
                </li>
                <br><li>
                  <h3 class="has-text-weight-bold has-text-danger">How do I use {{sitename}}?</h3>
                  <p>To get started, simply click the 'Topics' button in the top left corner and browse the available topics of discussion. If the website owner 
                    has allowed it, users can create their own topics as well using the 'Create Topic' button. Topics marked "SFW", or safe-for-work, are intended 
                    to not allow adult content. Conversely, topics marked "NSFW", or not-safe-for-work, may contain material that is, well... not safe to browse at work. 
                    Or school. Or at all, if you're under the age of 18.
                  </p>
                </li>
                <br><li>
                    <h3 class="has-text-weight-bold has-text-danger">How do I use spoilers and other formatting marks?</h3>
                    <p>You can include formatting marks in your posts in order to change how they look. In order to create a spoiler effect, you use the 
                      spoiler tag <span class="has-text-weight-bold">[spoiler]spoilered text[/spoiler] or **spoilered text**</span>. example -> <span class="spoiler">spoilered text</span>. 
                      Other tags you can include in square brackets to format the text are <span class="has-text-weight-bold">[red]red text[/red] or ==red text==</span> for <span class="has-text-danger has-text-weight-bold">red text</span> 
                      and <span class="has-text-weight-bold">[quote]green text quoting[/quote]</span> or <span class="has-text-weight-bold">>green text quoting</span> for <div class="padd3 has-text-success has-text-weight-bold has-background-grey-dark">green text quoting</div> 
                      <br>In order to keep everyone's posts nice and neat, if you use a formatting mark without closing it, your post may not display correctly.
                    </p>
                  </li>
              </ul>
        </div>
</div>
</section>
{% endblock %}