{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}
  <div class="columns is-centered">
      <div class="column is-half">
          <section class="section">
              <article class="message is-danger">
                  <div class="message-header">
                    <p class="has-text-dark">News</p>
                  </div>
                  <div class="message-body">
                        <small>
                            {% safe %}
                              {{sitenews|replace:[quote]:"<div class='padd3 has-text-success has-text-weight-bold has-background-grey-dark'>"|replace:[/quote]:"</div>"|replace:[red]:"<span class='has-text-danger has-text-weight-bold'>"|replace:[/red]:"</span>"|replace:[spoiler]:"<span class='spoiler'>"|replace:[/spoiler]:"</span>"|replace:[link]:"<a href='"|replace:[/link]:"' target='_blank'>"|replace:[/elink]:"</a>"|replace:[br]:"<br>"}}
                            {% endsafe %}
                        </small>
                  </div>
              </article>
            <article class="message is-danger">
                <div class="message-header">
                  <p class="has-text-dark">Topics [SFW]</p>
                </div>
                <div class="message-body">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                          {% for el in tnames %}
                            <li><a href="/topic/{{el.topic}}/">{{el.topic}}</a></li>
                          {% endfor %}
                        </ul>
                      </nav>
                </div>
            </article>
              <article class="message is-danger">
                  <div class="message-header">
                    <p class="has-text-dark">Recent Posts</p>
                  </div>
                  <div class="message-body">
                    <div class="has-text-centered">
                        {% for x in rdata %}
                        <div class="catalogtile">
                            <h3>{{x.bdesc}}</h3>
                            <a href="/thread/{{x.thid}}#{{x.pid}}">
                              <div class="card-image">
                                  <figure class="container">
                                        <img class="tnail" alt="Thumbnail" src="/thumbs/0/{{x.pid}}.{{x.attachmentonetype}}">
                                  </figure>
                              </div>
                            </a>
                            <div class="card-content">     
                                <div class="content">
                                  <strong>{{x.thread}}</strong>: 
                                      <small>
                                        {% safe %}
                                          {{x.msg|replace:[quote]:"<div class='padd3 has-text-success has-text-weight-bold has-background-grey-dark'>"|replace:[/quote]:"</div>"|replace:[red]:"<span class='has-text-danger has-text-weight-bold'>"|replace:[/red]:"</span>"|replace:[spoiler]:"<span class='spoiler'>"|replace:[/spoiler]:"</span>"|replace:[link]:"<a class='has-text-danger' href='"|replace:[/link]:"'>"|replace:[/elink]:"</a>"|replace:[br]:"<br>"|replace:[qlink]:"<a class='has-text-danger qlink' href='"|replace:[/qlink]:"'>"|replace:[/qelink]:"</a>"|replace:[preview]:"<span class='is-hidden'>"|replace:[/preview]:"</span>"|abbreviate:200}}
                                        {% endsafe %}
                                      </small>
                                </div>
                              </div>
                          </div>
                        {% endfor %}
                    </div>
                  </div>
              </article>
                <article class="message is-danger">
                    <div class="message-header">
                      <p class="has-text-dark">Stats</p>
                    </div>
                    <div class="message-body">
                        <nav class="level">
                            <div class="level-item has-text-centered">
                              <div>
                                <p class="heading">Total Posts</p>
                                <p class="title">{{sitestats.totalposts}}</p>
                              </div>
                            </div>
                            <div class="level-item has-text-centered">
                              <div>
                                <p class="heading">Current Users</p>
                                <p class="title">{{sitestats.currentusers}}</p>
                              </div>
                            </div>
                            <div class="level-item has-text-centered">
                              <div>
                                <p class="heading">Active Content</p>
                                <p class="title">{{sitestats.activecontent}}</p>
                              </div>
                            </div>
                          </nav>
                    </div>
                </article>
          </section>
      </div>
  </div>
{% endblock %}