{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}
<section class="section">
        <div class="container">
          <h1 class="title">
            Terms and Conditions
          </h1>
          <hr>
            <div class="content">
            <p>By using this website, you agree to abide by all applicable national and international laws and regulations 
                in the country in which this website is hosted. Furthermore you agree to give other users of the site permission to use, modify, and re-share content you 
                create and share on this website. You also agree not to post lewd, explicit, or pornographic material in topics marked "safe for work" or "SFW". You agree to 
                refrain from sharing personally identifiable information or personal data of any kind. Furthermore, you agree not to share links to websites or resources which promote,  
                facilitate, and/or provide access to any of the aforementioned illicit material. You agree that you have reached the age of majority in your country, 
                and/or have the legal right to use the internet including forums, social networking websites, or imageboards.
            </p>
            <p>Violating these <strong>Terms and Conditions</strong> may result in temporary or permanent removal of access to the site. 
              Individual topic owners reserve the right to curate topic content and limit access to their topics for any or no reason.</p>
            </div>
        </div>
</section>
<section class="section">
        <div class="container">
          <h1 class="title">
            Privacy
          </h1>
          <hr>
            <div class="content">
            <ul>
                <li>Information Collected by Our Site - To make our Site more useful to you, our servers (which may be hosted by a third party service provider) collect information from you, including your browser type, operating system, Internet Protocol (IP) address (a number that is automatically assigned to your computer when you use the Internet, which may vary from session to session), domain name, and/or a date/time stamp for your visit.</li>
                <li>Log Files - As is true of most websites, we gather certain information automatically and store it in log files.  This information includes IP addresses, browser type Internet service Provider (“ISP”), referring/exit pages, operating system, date/time stamp, and clickstream data.  We use this information to analyze trends, administer the Site and better tailor our Site to users’ needs. </li>
                <li>Cookies - We also use cookies. “Cookies” are small pieces of information that a website sends to your computer’s hard drive while you are viewing a web site.  We use session Cookies which expire once you close your web browser.</li>
            </ul>
            <p>Each post made on the website is associated with the Public IP address of the device from which that post was made. Personal Data will not be disclosed to third parties, advertisers, or government organizations unless absolutely required by law.
                By submitting Personal Data through our Site, you agree to the terms of this Privacy Policy and you expressly consent to the collection, use and disclosure of your Personal Data in accordance with this Privacy Policy.
            </p>
            </div>
        </div>
</section>
{% endblock %}