{% extends "base.html" %}
{% block title %}{{threadname}}{% endblock %}
{% block content %}
{% include "navbar2.html" %}
<br><br>
<div class="container has-text-centered">
    <h3 class="title has-text-white-bis">{{threadname}}</h3>
</div>
{% for x in tdata %}
<a id="{{x.pid}}" style="position: relative; top: -55px;"></a>
<div class="padd2 is-shadowless {% if not forloop.first %}bord2 has-background-grey-darker{% else %} is-marginless{% endif %}" id="p{{x.pid}}">
    <div class="content">
        <p>
          <small>
          {{x.post_time|date:shortDateTime}} <a class='has-text-danger' onclick="document.getElementById('replybody').value += '##{{x.pid}}'" href="#bottom"><span class="has-text-weight-bold">No. {{x.pid}}</span></a>
          </small>
        </p>
      </div>
      {% if any 
        x.attachmentonetype|not-empty 
        x.attachmentonewebm|not-empty 
        x.attachmentonepdf|not-empty 
        x.attachmenttwotype|not-empty 
        x.attachmenttwowebm|not-empty 
        x.attachmenttwopdf|not-empty 
        x.attachmentthreetype|not-empty 
        x.attachmentthreewebm|not-empty 
        x.attachmentthreepdf|not-empty %}
    <div class="columns">
        <div class="column is-narrow">
            {% if x.attachmentonetype|not-empty %}
            {% if x.spoilered %}<p class="has-text-weight-bold has-text-danger">content warning (image)</p>{% endif %}
            <figure class="grow image simg1{% if x.spoilered %} spoilercontainer{% endif %}">
              <a href="/image/0/{{x.pid}}.{{x.attachmentonetype}}" target="_blank">
                <img class="{% if x.spoilered %}spoilerimg{% endif %}" src="/thumbs/0/{{x.pid}}.{{x.attachmentonetype}}" alt="Image">
              </a>
            </figure>
           {% endif %}
           {% if x.attachmentonewebm|not-empty %}
           <figure class="image">
               <video class="video-js vjs-theme-sea" width="320px" data-setup='{}' controls loop alt="Webm" poster="/coffee.png" preload="none">
                  <source src="/webm/0/{{x.pid}}.webm" type="video/webm" /> 
               </video>
           </figure>
          {% endif %}
          {% if x.attachmentonepdf|not-empty %}
          <figure class="image simg1">
            <a href="/pdf/0/{{x.pid}}.pdf" target="_blank"><img src="/coffee.png" alt="pdf"></a>
          </figure>
         {% endif %}
        </div>
        <div class="column is-narrow">
            {% if x.attachmenttwotype|not-empty %}
            {% if x.spoilered %}<p class="has-text-weight-bold has-text-danger">content warning (image)</p>{% endif %}
            <figure class="grow image simg2{% if x.spoilered %} spoilercontainer{% endif %}">
              <a href="/image/1/{{x.pid}}.{{x.attachmenttwotype}}" target="_blank">
                <img class="{% if x.spoilered %}spoilerimg{% endif %}" src="/thumbs/1/{{x.pid}}.{{x.attachmenttwotype}}" alt="Image">
              </a>
            </figure>
           {% endif %}
           {% if x.attachmenttwowebm|not-empty %}
           <figure class="image">
             <video class="video-js vjs-theme-sea" width="320px" data-setup='{}' controls loop alt="Webm" poster="/coffee.png" preload="none">
                <source src="/webm/1/{{x.pid}}.webm" type="video/webm" /> 
             </video>
           </figure>
          {% endif %}
          {% if x.attachmenttwopdf|not-empty %}
          <figure class="image simg2">
            <a href="/pdf/1/{{x.pid}}.pdf" target="_blank"><img src="/coffee.png" alt="pdf"></a>
          </figure>
         {% endif %}
        </div>
        <div class="column is-narrow">
            {% if x.attachmentthreetype|not-empty %}
            {% if x.spoilered %}<p class="has-text-weight-bold has-text-danger">content warning (image)</p>{% endif %}
            <figure class="grow image simg3{% if x.spoilered %} spoilercontainer{% endif %}">
                <a href="/image/2/{{x.pid}}.{{x.attachmentthreetype}}" target="_blank">
                  <img class="{% if x.spoilered %}spoilerimg{% endif %}" src="/thumbs/2/{{x.pid}}.{{x.attachmentthreetype}}" alt="Image">
                </a>
            </figure>
           {% endif %}
           {% if x.attachmentthreewebm|not-empty %}
           <figure class="image">
            <video class="video-js vjs-theme-sea" width="320px" data-setup='{}' controls loop alt="Webm" poster="/coffee.png" preload="none">
               <source src="/webm/2/{{x.pid}}.webm" type="video/webm" /> 
            </video>
          </figure>
          {% endif %}
          {% if x.attachmentthreepdf|not-empty %}
          <figure class="image simg3">
            <a href="/pdf/2/{{x.pid}}.pdf" target="_blank"><img src="/coffee.png" alt="pdf"></a>
          </figure>
         {% endif %}
        </div>
      </div>
      {% endif %}
    <article>
        <div class="content">
          <p>
            {% safe %}
              {{x.msg|replace:[quote]:"<div class='padd3 has-text-success has-text-weight-bold has-background-grey-dark'>"|replace:[/quote]:"</div>"|replace:[red]:"<span class='has-text-danger has-text-weight-bold'>"|replace:[/red]:"</span>"|replace:[spoiler]:"<span class='spoiler'>"|replace:[/spoiler]:"</span>"|replace:[link]:"<a class='has-text-danger' href='"|replace:[/link]:"'>"|replace:[/elink]:"</a>"|replace:[br]:"<br>"|replace:[qlink]:"<a class='has-text-danger qlink' href='"|replace:[/qlink]:"'>"|replace:[/qelink]:"</a>"|replace:[preview]:"<span class='preview'><iframe scrolling='no' src='/preview/"|replace:[/preview]:"'></iframe></span>"}}
            {% endsafe %}
            <br>
            <span class="is-pulled-right is-size-7 is-italic">
              <span class="spoiler2"><span class="has-text-success has-text-weight-bold">+{{x.qscore}} </span></span>
              <a class="has-text-light" title="report post" href="/report/{{topicname}}/{{thread-id}}/{{x.pid}}" target="_blank">
                report
              </a>
              <a class="has-text-light" title="delete post" href="/delete/{{x.pid}}">
                delete
              </a>
            </span>
          </p>
        </div>
    </article>
  </div>
{% endfor %}
<a name="bottom"></a>
<hr>
<br><br><br>
{% if banneduser %}
  {% if not threadlocked %}
    {% include "reply.html" %}
    {% else %}
    <div class="container has-text-centered">
    <p><span class="tag is-danger is-light is-medium">❌ THREAD LOCKED</span></p>
  </div>
  {% endif %}
  {% else %}
<div class="columns is-centered">
  <div class="column is-two-fifths">
    <article class="message is-warning">
      <div class="message-header">
        <h2>BANNED!</h2>
      </div>
      <div class="message-body">
        You have been banned from posting in this topic until: {{bannedusertime|date:shortDate}}
      </div>
    </article>
  </div>
</div>
{% endif %}
{% endblock %}