{% for el in pagedata %}
<hr>
    {% for x in el %}
      <div class="padd2 is-shadowless {% if not forloop.first %}bord2  has-background-grey-darker{% else %} is-marginless{% endif %}">
            <div class="content">
                <small>
                    <nav class="level">
                      <div class="level-left">
                          <div class="level-item">
                              <div class="dropdown is-hoverable">

                                  <div class="dropdown-trigger">
                                      <span class="has-text-warning">▶ </span>
                                  </div>
            
                                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
            
                                    <div class="dropdown-content">
            
                                      <a href="/report/{{topicname}}/{{x.thid}}/{{x.pid}}" class="dropdown-item">
                                        Report
                                      </a>
            
                                      <a href="/delete/{{x.pid}}" class="dropdown-item">
                                        Delete Post
                                      </a>
            
                                    </div>
            
                                  </div>
            
                                </div>
                          </div>
                          {% if forloop.first %}
                          <div class="level-item">
                          {% if x.newtop %}
                          <span class="has-text-weight-bold">♨ {{x.thread}} </span>
                          {% else %}
                          <span class="has-text-weight-bold">{{x.thread}} </span>
                          {% endif %}
                          </div>
                          {% endif %}
                          <div class="level-item">{{x.post_time|date:shortDateTime}}</div>
                          <div class="level-item"><a href="/thread/{{x.thid}}#{{x.pid}}"><span class="has-text-weight-bold has-text-warning">#{{x.pid}}</span></a></div>
                          {% if forloop.first %}
                            {% if x.stickied %}
                            <div class="level-item">📌</div>
                            {% endif %}
                            {% if x.locked %}
                            <div class="level-item">🔒</div>
                            {% else %}
                            <div class="level-item has-text-weight-bold"><a class='has-text-warning' href="/thread/{{x.thid}}#bottom">↻ Reply</a></div>
                            {% endif %}
                          {% endif %}
                      </div>
                    </nav>
                  </small>
              </div>
              <div class="columns">
                {% if x.attachmentonetype|not-empty %}
                {% ifunequal x.attachmentonetype "pdf" %}
                {% ifunequal x.attachmentonetype "webm" %}
                <div class="column is-narrow">
                  <figure class="image">
                      <img class="tnail2" alt="Thumbnail" {% if x.spoilered %} src="/coffee.png"{% else %} src="/thumbs/0/{{x.pid}}.{{x.attachmentonetype}}"{% endif %}>
                  </figure>
                </div>
                {% endifunequal %}
                {% endifunequal %}
                {% endif %}
                {% if x.attachmenttwotype|not-empty %}
                {% ifunequal x.attachmenttwotype "pdf" %}
                {% ifunequal x.attachmenttwotype "webm" %}
                <div class="column is-narrow">
                <figure class="image">
                    <img class="tnail2" alt="Thumbnail" {% if x.spoilered %} src="/coffee.png"{% else %} src="/thumbs/1/{{x.pid}}.{{x.attachmenttwotype}}"{% endif %}>
                </figure>
                </div>
                {% endifunequal %}
                {% endifunequal %}
                {% endif %}
                {% if x.attachmentthreetype|not-empty %}
                {% ifunequal x.attachmentthreetype "pdf" %}
                {% ifunequal x.attachmentthreetype "webm" %}
                <div class="column is-narrow">
                <figure class="image">
                    <img class="tnail2" alt="Thumbnail" {% if x.spoilered %} src="/coffee.png"{% else %} src="/thumbs/2/{{x.pid}}.{{x.attachmentthreetype}}"{% endif %}>
                </figure>
                </div>
                {% endifunequal %}
                {% endifunequal %}
                {% endif %}
              </div>
                <article>
                  <div class="content">
                    <p>
                      {% safe %}
                        {{x.msg|replace:[quote]:"<div class='padd3 has-text-success has-text-weight-bold has-background-grey-dark'>"|replace:[/quote]:"</div>"|replace:[red]:"<span class='has-text-danger has-text-weight-bold'>"|replace:[/red]:"</span>"|replace:[spoiler]:"<span class='spoiler'>"|replace:[/spoiler]:"</span>"|replace:[link]:"<a class='has-text-warning' href='"|replace:[/link]:"'>"|replace:[/elink]:"</a>"|replace:[br]:"<br>"}}
                      {% endsafe %}
                    </p>
                  </div>
                </article>
      </div>
    {% endfor %}
{% endfor %}
<br>
<nav class="breadcrumb is-centered is-medium has-text-weight-bold" aria-label="breadcrumbs">
    <ul>
      <li> </li>
      {% for el in tpages %}
        {% ifequal el page %}
        <li class="is-active"><a><strong>{{el}}</strong></a></li>
        {% else %}
        <li><a class="has-text-warning" href="{{el}}">{{el}}</a></li>
        {% endifequal %}
      {% endfor %}
      <li> </li>
    </ul>
  </nav>