.spoiler {
    background-color: black;
    color: black;
}

.spoiler:hover {
    background-color: transparent;
    color: hsl(0, 0%, 98%);
}

.spoiler2 span{
    visibility: hidden;
}

.spoiler2:hover span{
    visibility: visible;
}

#pbar {
    display: none;
}

.simg1 {
    max-width: 150px;
    z-index: 7;
}
.simg2 {
    max-width: 150px;
    z-index: 5;
}
.simg3 {
    max-width: 150px;
    z-index: 3;
}

.spoilerimg {
    opacity: 0.0;
}

.spoilercontainer {
    border: 2px dashed hsl(348, 100%, 61%);
}

.spoilercontainer:hover {
    border: none;
}

.spoilerimg:hover {
    opacity: 1 !important;
}

.tnail {
    max-height: 150px !important;
    max-width: 150px !important;
}

.tnail2 {
    max-width: 150px !important;
}

.catalogtile {
    width: 150px;
    height: 320px;
    overflow: hidden;
    display: inline-block;
    margin: 15px;
    vertical-align: bottom;
}

.nbar {
    border-bottom: 1px solid hsl(348, 100%, 61%);
    background-color: hsl(0, 0%, 14%);
}

hr {
    border-color: hsl(348, 100%, 61%);
    background-color: hsl(348, 100%, 61%);
    color: hsl(348, 100%, 61%);
    margin-left: 9px;
    margin-right: 9px;
}

.bord {
    border: 1px dashed hsl(348, 100%, 61%);
}

.bord2 {
    margin-bottom: 3px;
    margin-left: 30px;
    margin-right: 10px;
}

.padd2 {
    padding-top: 3px ;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    overflow-wrap: break-word !important;
}

.padd3 {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

body {
    background-color: hsl(0, 0%, 7%);
    color: hsl(0, 0%, 98%);
    width: 100%;
    height: 100%;
}

label {
    color: hsl(348, 100%, 61%) !important;
}

h3.title {
    color: hsl(348, 100%, 61%) !important;
}

h2.title {
    color: hsl(348, 100%, 61%) !important;
}

h1.title {
    color: hsl(348, 100%, 61%) !important;
}

p.subtitle {
    color: hsl(348, 100%, 61%) !important;
}

.grow { transition: all .3s ease-out; transform-origin: left top; }
.grow:hover { transform: scale(1.1); }

iframe {
    overflow: hidden !important;
    width: 100%;
    min-height: 275px;
}

.preview {
    display: none;
}

.qlink:hover + .preview {
    display: block;
}

.prehtml {
    background-color: hsl(0, 0%, 7%);
}

.uline {
    text-decoration: underline;
}

.ulineh:hover {
    text-decoration: underline;
}